<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ivanovo Code Jam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}assets/ico/favicon_py.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">ICJ</a>
          <!--
	  {% block user_menu %}
          <div class="btn-group pull-right">
		  {% if user.is_authenticated %}
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="icon-user"></i> {{ user.username }}
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="/accounts/profile/">Профиль</a></li>
				<li class="divider"></li>
				<li><a href="{% url auth_logout %}">Выход</a></li>
			</ul>

		  {% else %}
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> Регистрация
              <span class="caret"></span>
            </a>
	    <ul class="dropdown-menu">
	      <li><a href="{% url registration_register %}">Регистрация</a></li>
	      <li class="divider"></li>
	      <li><a href="{% url auth_login %}">Вход</a></li>
	    </ul>
	    {% endif %}
          </div>
          {% endblock %}
          -->
          <div class="nav-collapse">
            <ul class="nav">
            	{% block navigation %}
              <li class="active"><a href="/">Главная</a></li>
              <li><a href="/news">Новости</a></li>
              <li><a href="/contact">Контакты</a></li>
              <!--<li><a href="/schedule">Расписание</a></li>-->
		<!--<li><a href="/userlist">Участники</a></li>-->
              {% endblock %}

<!--
	      {% block sections %}
		<li class="dropdown">
			<a href="#"
			class="dropdown-toggle"
			data-toggle="dropdown">
				Секции
			<b class="caret"></b>
			</a>
		<ul class="dropdown-menu">
			{% for section in sections %}
			<li>
				<a href="/section/?id={{section.id}}">{{section}}</a>
			</li>
			{% endfor %}
		</ul>
		</li>
        {% endblock %}
        -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


    <div class="container">
	{% block content %}
	{% endblock %}
	{%block pager%}
	{% endblock %}
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}assets/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-typeahead.js"></script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                        try {
                                    w.yaCounter20843011 = new Ya.Metrika({id:20843011,
                                                        clickmap:true,
                                                                            trackLinks:true,
                                                                                                accurateTrackBounce:true});
                                                                                                        } catch(e) { }
                                                                                                            });

                                                                                                                var n = d.getElementsByTagName("script")[0],
                                                                                                                        s = d.createElement("script"),
                                                                                                                                f = function () { n.parentNode.insertBefore(s, n); };
                                                                                                                                    s.type = "text/javascript";
                                                                                                                                        s.async = true;
                                                                                                                                            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                                                                                                                                                if (w.opera == "[object Opera]") {
                                                                                                                                                        d.addEventListener("DOMContentLoaded", f, false);
                                                                                                                                                            } else { f(); }
                                                                                                                                                            })(document, window, "yandex_metrika_callbacks");
                                                                                                                                                    </script>
                                                                                                                                                    <noscript><div><img src="//mc.yandex.ru/watch/20843011" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                                                                                                                                                    <!-- /Yandex.Metrika counter -->


  </body>
</html>

